@font-face {
  font-family: "FSEX300";
  src: url("FSEX300.ttf");
}

body, html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "FSEX300";
}

canvas {
  display: block;
}

p {
  margin: 0;
  font-size: 5vh;
}

#look-notice {
  z-index: 1000;
  position: absolute;
}