@font-face {
  font-family: "FSEX300";
  src: url("FSEX300.ttf");
}

body, html {
  width: 99.5%;
  height: 99.5%;
  margin: 0;
}

body {
  background-color: #90b3f4;
  font-family: "FSEX300";
}

p {
  font-size: 6vh;
  margin: 0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99.5%;
}

.center {
  text-align: center;
}

/* Animation start */
.blink {
  animation: blinkAnim 1s step-start infinite;
}

@keyframes blinkAnim {
  50% {
    opacity: 0;
  }
}
/* Animation end */

[contenteditable] {
  caret-color: transparent; 
}

#console, #camera {
  width: 90%;
  height: 90%;
  background-color: rgb(41, 41, 215);
  color: #90b3f4;
  margin: 0;
  overflow-y: auto;
}

#user-input {
  outline: none;
}

#user-area {
  display: flex;
}

#camera {
  display: none;
}